<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="bg-black container-fluid vh-100">
        <div class="container m-auto p-3">

            <p class="text-center text-white">Junior Assistant of Rane Villanueva - the Idiotic Senior</p><br>

            <button type="button" class="jarvisButton" onclick="talkNow()"></button>
            <div class="text-center p-4">

                <div id="loadSpinner" class="spinner-border text-primary" style="visibility: hidden;" role="status">
                </div>
                <p id="jarvisMessage" class="text-center text-white">PRESS THE ARC REACTOR TO TALK</p>

                <div class="input-group mb-3 pl-5 pr-5">
                    <div class="input-group-prepend" id="button-addon3">
                        <button id="jarvisClearText" class="btn btn-danger" onclick="jarvisClearText()">CLEAR</button>
                    </div>
                    <input id="jarvisText" type="text" class="form-control" placeholder="or Type your command here"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button id="jarvisTextButton" class="btn btn-primary" onclick="jarvisText()">SEND</button>
                    </div>
                </div>
            </div>
            <br>


        </div>
    </div>
    <nav class="navbar navbar-expand fixed-bottom navbar-dark bg-dark">
        <a class="navbar-brand" href="https://github.com/rgvillanueva28/JARVIS" target="_blank">
            <!-- <img src="images/arc.png" class="arc-footer" alt="JARVIS"> -->
            JARVIS
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a id="dashboardButton" class="nav-item nav-link active">
                    Dashboard
                </a>
                <a id="settingsButton" class="nav-item nav-link" onclick="goSettings()">
                    Settings
                </a>
            </div>
        </div>

        <span class="navbar-text pr-3">
            © Rane Gillian Villanueva | 2020
        </span>
        <span class="navbar-text pr-3">
            <a href="https://github.com/rgvillanueva28" target='_blank'>Github</a>
        </span>
        <button class="btn btn-danger active" onclick="goLogin()">Logout</button>
        <!-- <span class="navbar-text">
            <h6 class="text-white-50">Created by Rane | 2020</h6>
        </span>
        <span class="navbar-text">
            <h6 class="text-center"><a href="https://github.com/rgvillanueva28" target='_blank'>Github</a></h6>
            <h6 class="text-center"><a href="https://github.com/rgvillanueva28" target='_blank'>Github</a></h6>
        </span> -->
    </nav>

    <script src="script/script.js"></script>
</body>

</html>