<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="bg-black container-fluid min-vh-100">
        <div class="container m-auto p-3 text-center">
            <h1 class="text-center text-white pb-5">Directories</h1>

        </div>
        
        <div class="input-group container">
            <div class="input-group-prepend">
                <input id="nameText" type="text" class="form-control" placeholder="Name"
                    style="width: 200px">
            </div>
            <input id="dirText" type="text"  class="form-control" placeholder="Directories">
            <div class="input-group-append">
                <button style="width: 80px;" type="submit" class="form-control btn btn-secondary"
                    onclick="addDir()">ADD</button>
            </div>
        </div>

        <br>
        <div id="stbl" class="container m-auto">

        </div>

        <br><br><br><br>
    </div>

    <nav class="navbar navbar-expand fixed-bottom navbar-dark bg-dark">
        <a class="navbar-brand" href="https://github.com/rgvillanueva28/JARVIS" target="_blank">
            <!-- <img src="images/arc.png" class="arc-footer" alt="JARVIS"> -->
            JARVIS
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a id="dashboardButton" class="nav-item nav-link" onclick="goDashboard()">
                    Dashboard
                </a>
                <a id="settingsButton" class="nav-item nav-link active">
                    Settings
                </a>
            </div>
        </div>

        <span class="navbar-text pr-3">
            © Rane Gillian Villanueva | 2020
        </span>
        <span class="navbar-text pr-3">
            <a href="https://github.com/rgvillanueva28" target='_blank'>Github</a>
        </span>
        <button class="btn btn-danger active" onclick="goSettings()">Back</button>
    </nav>

    <script src="script/script.js"></script>
    <script>
        window.addEventListener('pywebviewready', function () {
            generateTables("dir");
        })    
    </script>

</body>

</html>