<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="bg-black container-fluid vh-100">
        <div class="container m-auto p-3">
            <h1 class="text-center text-white">Settings</h1>
        </div>

        <div id="table1" class="container m-auto p-3">
        </div>
        <div id="table2" class="container m-auto p-3">
        </div>
        <div id="table3" class="container m-auto p-3">
        </div>

    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <a class="navbar-brand arc-footer" href="index.html">
            <img src="images/arc.png" class="arc-footer" alt="JARVIS">
        </a>
        <form id="settingsForm" onsubmit="return false;" method="post">
            <button type="submit" id="settingsButton" class="btn btn-secondary" onclick="goDashboard()">
                Dashboard
            </button>
            <button type="submit" id="settingsButton" class="btn btn-secondary">
                Settings
            </button>
        </form>

        <span class="navbar-text">
            <h6 class="text-white-50">Created by Rane | 2020</h6>
        </span>
        <span class="navbar-text">
            <h6 class="text-center"><a href="https://github.com/rgvillanueva28" target='_blank'>Github</a></h6>
            <h6 class="text-center"><a href="https://github.com/rgvillanueva28" target='_blank'>Github</a></h6>
        </span>
    </nav>

    <script src="script/script.js"></script>
</body>

</html>